[2017-04-24 08:26] chrusty opened #1 "Nested messages should be defined using references"
Using references would be the correct way. This is something to add in a future version (once I'm happy with how this all works so far).

[2018-01-03 08:13] xcb6 opened #3 "Licence"
Thank you for your library
Can you specify the MIT license, Apache2 licence ... in a file LICENCE. txt
Thank

[2018-12-27 14:03] chrusty commented on #3
Copied the apache license from protoc-gen-bq-schema (as this is where i copy/pasted most of this project from). No idea what it means, hopefully someone will let me know if i'm getting sued or something.

[2018-12-27 14:03] #3 closed

[2019-01-31 02:00] thetimetraveler opened #7 "generator fails if proto self-references"
e.g.
[code]
this will cause generate to get stuck in infinite loop until memory limit is hit.

[2019-04-24 12:36] huttotw opened #8 "When specifying the disallow_bigints_as_strings, oneOf is still used instead of type"
I like the ability to have big ints in scientific notation as strings, however with the option turned on, the type could be `string` or `integer`, that makes sense.

I am proposing that when the option is turned off, meaning it can only be a `integer`, what we revert to using the `type` field in JSON schema to denote the `type` of the property.

For instance:
[code]

should be
[code]

[2019-07-18 15:42] xliiauo opened #11 "google.protobuf.Timestamp needs to be converted to string in schema instead of an object"
In https://developers.google.com/protocol-buffers/docs/proto3#json , the correct type for a Timestamp in JSON is string instead of an object. When using protoc-gen-jsonschema, `google.protobuf.Timestamp` will create:
[code]
instead, it should be string:
[code]
please can you fix, thank you very much.

[2019-07-29 12:42] huttotw commented on #11
We are having this issue as well, I am planning to hack on this today to see if I can get it to work.

[2019-07-29 15:20] huttotw commented on #11
Pull request in to fix this (#12). Will output `google/protobuf/timestamp.proto` like:
[code]

[2019-08-04 12:36] chrusty commented on #11
Hi @huttotw and @xliiauo, thanks for your interest. Sorry I don't get around to checking this very often.

I think we may have to support several formats for timestamps here, because in my experience different JSON marshalers will give different results.

For example, the "correct" marshaling _should_ give a timestamp as a string, but naive marshaling would result in seconds and nanos. I'm guessin

[2019-08-27 17:25] whuang8 opened #15 "Installation Problems"
Hi @chrusty,

With the new changes in https://github.com/chrusty/protoc-gen-jsonschema/pull/14, I am confused about the new way of installing `protoc-gen-jsonschema`.

Before the change, running `go get git.enova.com/cashnet/protoc-gen-go` worked well since `main.go` was still in the top level directory. Now, there doesn't seem to exist a `main.go` or any main package at all that can be built.

Ru

[2019-08-27 18:39] chrusty commented on #15
Hi @whuang8, sorry about that. I only just merged that in today and it looks like I'd omitted the entire `/cmd` directory.

- I've updated the `Makefile` (so you should be able to do `make install` from the project root)
- I've also updated the README with (what should hopefully be) the correct installation instructions

Please let me know if you still have trouble with it.

[2019-08-27 18:39] #15 closed

[2020-02-10 07:16] rehabaam opened #19 "type orderedmap.OrderedMap issue while installing"
I am getting an error when installing the package

[code]

I checked the code in types.go file, and found that it is related to [jsonschema](https://github.com/alecthomas/jsonschema) project as Properties definition has changed from "map[string]*Type{}" to "*orderedmap.OrderedMap" as per this [commit](https://github.com/alecthomas/jsonschema/commit/42cb9b014a9687f68669cb5071d1bb48f81b681a).

Is th

[2020-02-14 02:06] dliu2223 opened #20 "stack overflow with gnmi.proto"
protoc  -I .  --jsonschema_out=.  -I/root/dev_ubuntu/go/src/github.com/google/protobuf/src  -I/root/dev_ubuntu/go/src gnmi.proto
WARN[0000] protoc-gen-jsonschema will create multiple MESSAGE schemas from one proto file  proto_filename=gnmi.proto schemas=24
WARN[0000] protoc-gen-jsonschema will create multiple ENUM schemas from one proto file  proto_filename=gnmi.proto schemas=24
INFO[0000] Generat

[2020-02-14 21:44] dliu2223 commented on #20
Isolated to message type oneof in below test.proto, get into an infinite loop causes stack overflow

syntax = "proto3";

import "google/protobuf/any.proto";
package gnmi;

message Decimal64 {
  int64 digits = 1;         // Set of digits.
  uint32 precision = 2;     // Number of digits following the decimal point.
}

message ScalarArray {
  repeated TypedValue element = 1;
}

message TypedValue {

[2020-02-15 03:55] jlegrone commented on #19
In the mean time, removing the `-u` flag from the install command should build with pinned dependency versions:

[code]

[2020-03-30 14:45] Bak3y commented on #19
Removing that flag didn't fix this issue for me, is there another workaround to try?

[2020-03-31 08:10] rehabaam commented on #19
Yeah, it didn't work for me too. I had to generate the schema manually.

[2020-04-28 01:57] wk8 commented on #20
Should be fixed by https://github.com/chrusty/protoc-gen-jsonschema/pull/21

[2020-04-28 01:57] wk8 commented on #19
Should be fixed by https://github.com/chrusty/protoc-gen-jsonschema/pull/21

[2020-04-28 01:57] wk8 commented on #7
Should be fixed by https://github.com/chrusty/protoc-gen-jsonschema/pull/21

[2020-04-29 06:32] chrusty commented on #19
Sorry, yes you would need to reset the repo to deal with this. The upstream JSONSchema library introduced some annoying breaking changes. @wk8 has a PR which will fix this once we merge it.

[2020-04-29 22:07] chrusty commented on #20
@wk8 fixes are in the new release [0.8.0](https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/0.8.0)

[2020-04-29 22:07] #20 closed

[2020-04-29 22:08] chrusty commented on #19
@wk8 fixes are in the new release [0.8.0](https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/0.8.0)

Thank you for reporting this, @rehabaam

[2020-04-29 22:08] #19 closed

[2020-04-29 22:08] chrusty commented on #7
@wk8 fixes are in the new release [0.8.0](https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/0.8.0)

Thank you for reporting this, @thetimetraveler

[2020-04-29 22:08] #7 closed

[2020-04-29 22:08] chrusty commented on #1
@wk8 fixes are in the new release [0.8.0](https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/0.8.0)

[2020-04-29 22:08] #1 closed

[2020-05-06 17:20] dliu2223 commented on #20
Hi Chrusty,

Thanks for the update, the issues is fixed, worked great.

David

[2020-05-14 01:03] sttawm commented on #11
I don't think there's ambiguity in the format of the timestamp.

As per the protobuf authors:

//
// In JSON format, the Timestamp type is encoded as a string in the
// [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) format. That is, the
// format is "{year}-{month}-{day}T{hour}:{min}:{sec}[.{frac_sec}]Z"
// where {year} is always expressed using four digits while {month}, {day},
// {hour}, {min}

[2020-05-28 09:38] Hugues514 opened #24 "With NestedMessage, syntaxe for $ref (URI-reference) should start with #"
Your tool is great, very helpfull.
When I take the Enumception.jsonschema it seems that the syntaxe for the reuse of structure PayloadMessage seems incorrect (at least in the faker tool that I used...) the line is :
            "$ref": "samples.PayloadMessage",
and should be
            "$ref": "#/samples.PayloadMessage",

Otherwise the reference to the definition located in the same file is not f

[2020-06-22 21:45] chrusty commented on #24
Hi @Hugues514, thanks for your interest!

I spent some time looking into this today. On first glance you are correct - this isn't the correct format for a reference. However, the document you linked [_does_ mention](https://json-schema.org/understanding-json-schema/structuring.html#the-id-property) `ID`, which is how these schemas are generated..

I tested the generated enumception schema using ht

[2020-06-22 21:45] #24 closed

[2020-06-23 21:02] chrusty commented on #11
@huttotw I raised a new PR copied from your original one (was unable to merge your one because the layout of the project has changed significantly since then).

https://github.com/chrusty/protoc-gen-jsonschema/pull/25

It doesn't break any of the existing unit tests so I guess we should be fine, but I'd like to run it by a few other people first.

[2020-07-08 20:07] xylo04 opened #26 "Generator fails if proto has no package"
I was attempting to generate a JSON schema for a new proto file. Even debug output only hinted at the problem:

[code]

Once I add a `package` to my proto, the generator works. I probably should have done this with my proto anyway, but since `package` is optional, the generator shouldn't die, or should at least have a more clear error message.

[2020-07-10 13:40] YuanYingdong opened #27 "Is there any parameter to generate a jsonschema file using package name as file name prefix?"

[2020-07-10 22:04] chrusty commented on #26
Good catch. I'll At least add an error message and test for the missing package name. Sorry if this caused you any trouble.

[2020-07-10 22:21] xylo04 commented on #26
No worries! Thanks for putting this together

[2020-07-11 00:46] chrusty commented on #26
Alright, I've included a warning message now.

[2020-07-11 00:46] #26 closed

[2020-07-11 00:57] chrusty commented on #11
@huttotw, @sttawm , @xliiauo I've merged this in now, and created a new release. Thanks for your comments!

https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/0.9.0

[2020-07-11 00:57] #11 closed

[2020-07-11 01:03] chrusty commented on #27
Hi @YuanYingdong, no there is no option for this at the moment. Generally I'd run it against a directory of proto files in one package, and write schemas out to a specific folder for them.

Having said that, it would be easy enough to add this. I could get it to create a directory for each package, OR prefix the filename. I'm wondering what would be more useful to more people.

[2020-07-11 01:27] YuanYingdong commented on #27
Got it, thank you!

[2020-07-11 01:27] #27 closed

[2020-07-12 13:53] YuanYingdong opened #30 "It seems that this tool can't handle the required keyword in protobuffer2"
It seems that this tool can't handle the required keyword in protobuffer2, but this can be handled by the Protobuffer's Json convert utils.
Is there any parameter to set all fields in pb3 Message to be required in the JSON schema?

[2020-07-12 13:57] YuanYingdong commented on #30
When checking a '{}' Json string, the Jsonschema generated from protobuffer 3 message will always result in a successful checking.

[2020-07-12 22:59] chrusty commented on #30
I've got an old branch which deals with this, i'll bring it back now. I guess the "required fields" features kinda became redundant with proto3, but I'm happy to add this for proto2 users.

[2020-07-14 07:43] chrusty commented on #30
@YuanYingdong how does this look? https://github.com/chrusty/protoc-gen-jsonschema/pull/33

[2020-07-22 07:44] chrusty commented on #30
@YuanYingdong I've made a new release: https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/0.9.2

Please let me know how you get on with it!

[2020-07-22 07:44] #30 closed

[2020-07-22 07:49] YuanYingdong commented on #30
Ok, I'll try it later

[2020-09-04 20:36] jeffrom opened #34 "google.protobuf.Value causes stack overflow"
Hello, thanks for this great work!

When protoc-gen-jsonschema processes a proto file with the well-known type Value, it causes a stack overflow:

[code]

Is this something you plan to support?

panic:
[code]

Thanks!

[2020-09-25 03:46] chrusty commented on #34
Hey @jeffrom , sorry to see that. I'll take a look this weekend.

[2020-09-25 04:31] chrusty commented on #34
OK, a quick update here. I was able to reproduce the issue, and have applied a fix. I've now included your example as a sample proto, and a unit test case.

It looks like this type should be mapped to a JSONSchema "OBJECT". Hopefully this works for you?

Thanks for reporting this @jeffrom , and my apologies for taking a while to get onto it. I have 4 jobs at the moment so I'm a little swamped!

[2020-09-25 04:31] #34 closed

[2020-09-28 22:07] jeffrom commented on #34
@chrusty still, very quick turnaround time! Thanks for fixing this. I've also been quite busy, but I'll verify the fix this week.

[2020-10-26 16:47] grant opened #38 "Allow Only JSON Field Names"
There is no option to _only_ allow JSON Field names, only an option to allow proto field names or proto AND json field names

## Proposal

- Current config: `proto_and_json_fieldnames` (includes both proto and json field names)
- Requested config: `json_fieldnames` (excludes proto field names)

## Relevant IF

https://github.com/chrusty/protoc-gen-jsonschema/blob/403865327248cbe778def570bcd2f8d16a

[2020-10-29 20:07] chrusty commented on #38
Hello again @grant! OK I can see the purpose of this request, and if you're happy for it to be hidden behind another config flag then i'm happy enough to add it in.

Sorry about the delayed response, but I have 4 clients at the moment so my keyboard is a bit busy.

[2020-10-29 20:33] grant commented on #38
Yeah, just another config `json_fieldnames` would be cool.
We currently filter out the proto fieldnames in our client in a post-generation step; a native option would be good :)

[2020-10-29 23:19] chrusty commented on #38
Hey @grant how does this PR look?

[2020-10-30 01:19] chrusty commented on #38
New release with this feature: https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/0.9.5

[2020-10-30 01:19] #38 closed

[2020-11-23 10:29] pavolloffay opened #40 "all_fields_required fails on nil pointer"
All fields required ` ~/bin/protoc/bin/protoc --jsonschema_out=all_fields_required:.  config.proto` fails on `nil` pointer for https://github.com/hypertrace/agent-config/blob/main/config.proto

[code]

[code]

### Steps to reproduce:
1. clone https://github.com/hypertrace/agent-config
2. add `package org.hypertrace;` to the `config.proto`
3. run `~/bin/protoc/bin/protoc --jsonschema_out=all_fields

[2020-11-24 15:48] tomarrell opened #41 "Enums are not generated when file contains messages"
When a file has both `enum` and `message` type definitions, the converter does not create files for the `enum` definitions.

The converter outputs a message:
[code]

However, when looking at the files written, there are no corresponding files for the enums.

Having a brief look at the converter, it seems like this is due to the conditional here, https://github.com/chrusty/protoc-gen-jsonschema/blo

[2020-11-24 16:11] felixjung commented on #41
This bug seems to be hidden by a faulty test. The [`Enumception` test case](https://github.com/chrusty/protoc-gen-jsonschema/blob/master/internal/converter/testdata/proto/Enumception.proto) imports the [`ImportedEnum`](https://github.com/chrusty/protoc-gen-jsonschema/blob/master/internal/converter/testdata/proto/ImportedEnum.proto). As you can see in the [`EnumCeption` const](https://github.com/ch

[2020-11-25 08:03] chrusty commented on #40
Thanks for reporing this, @pavolloffay. Looks like some sloppy assumptions around pointers. I've fixed it now, and tested it against your proto.

See https://github.com/chrusty/protoc-gen-jsonschema/commit/492f7d258b6a84e894d586787e461c8ceaadf6cc for the details if you're interested, but in any case you should be able to install the latest master branch to have your fix.

Thanks for your interest!

[2020-11-25 08:03] #40 closed

[2020-11-25 08:05] chrusty commented on #41
Thanks for reporting this @tomarrell and @felixjung. I'll take a look, see if I can quickly fix it and roll a new version.

[2020-11-25 08:09] pavolloffay commented on #40
awesome thanks for the fix @chrusty!

Keep up doing great work :)

[2020-11-25 08:41] felixjung commented on #41
Hey, thanks for the response. We have fixed the issue and will open a PR with additional tests, soon (working on some last kinks right now).

[2020-11-25 08:43] chrusty commented on #41
Hey @tomarrell, I've been testing it out and I think there are two separate issues here.

First, I tried to generate schemas just for the EnumCeption proto: `protoc --jsonschema_out=. --proto_path=internal/converter/testdata/proto internal/converter/testdata/proto/Enumception.proto`, and you're right - this only made one file. But if I ran it against _both_ protos then I did get two schema files:

[2020-11-25 08:44] pavolloffay opened #43 "Do not allow nullable fields"
The schema generation for https://github.com/hypertrace/agent-config/blob/main/config.proto#L17 allows null values for all properties. Is there way to not allow nullable values?

`protoc --jsonschema_out=:. config.proto`

[code]

[2020-11-25 08:45] chrusty commented on #41
OK @felixjung, I'd really like to see what you've found. PR is welcome!

[2020-11-25 08:58] felixjung commented on #41
Yes, this works in as far as that the additional file is generated. However, the `importedEnum` field inside the message JSON schema still misses the enum values (i.e., the `"enum"` field of the schema object). It only includes the `"oneOf"` field.

We''ve tracked the issue down to the proto `ProtoPackage` struct not having a global register of standalone enums and there not being a `registerEnum`

[2020-11-25 09:02] chrusty commented on #41
Thanks @felixjung. I think I'm looking at the same part of the code as you right about now then, and realising that the enum descriptor for this imported enum doesn't contain any values. If you're close then I'll just shutdown for now and see what you can come up with.

Thanks again for your efforts!

[2020-11-25 18:40] chrusty commented on #43
Hey @pavolloffay yes I see what you mean. A fix shouldn't be too difficult, but I should get these other bits merged first. Hopefully not too long

[2020-11-25 18:57] chrusty commented on #41
Thanks for your PR @felixjung!

[2020-11-25 18:57] #41 closed

[2020-11-26 09:45] chrusty commented on #43
Hey @pavolloffay, this should fix your issue

[2020-11-30 22:25] grant opened #47 "Int64 JSON Mapping Should Be String, Not OneOf"
All `int64` types (and variants) should be mapped to the `string` type, not a `oneOf: [ {type: 'string'},{type: 'integer'}]`.

This should be done because the JSON mapping for int64 is type `string`.

### References

JSON Mapping:

https://developers.google.com/protocol-buffers/docs/proto3#json

Code:

https://github.com/chrusty/protoc-gen-jsonschema/blob/7726bafee96859cdee2947f818544b2af809be75/i

[2020-11-30 22:50] chrusty commented on #47
Hey @grant, this seems like a valid issue. Hopefully it'll wrap up the other open issue too. Happy to implement this, fairly straight forward.

[2020-11-30 22:53] grant commented on #47
No rush. This is a tricky issue. If you implement this, great!

[2020-12-01 08:24] pavolloffay commented on #43
thanks @chrusty

This fixed the issue with nullable fields, however it generation does not work properly:

The problem is in data capture

[code]

the generated golang code is:

[code]

Each of these fields should be struct with two fields - request and response and have boolean value

[2020-12-01 09:04] chrusty commented on #47
Hi @grant, had a chance to look at this. Have a look at the PR: https://github.com/chrusty/protoc-gen-jsonschema/pull/48

[2020-12-01 16:47] grant commented on #47
👍

[2020-12-01 18:38] chrusty commented on #47
OK that PR is merged. Let me know if it works for you and I'll make a new release.

[2020-12-01 18:39] chrusty commented on #8
Hi @huttotw.

The PR recently merged should fix this up. Sorry it took so long!

[2020-12-01 18:39] #8 closed

[2020-12-01 20:14] chrusty commented on #43
Hey @pavolloffay, sorry to hear that you're still having issues.

I've just had a go myself using `protoc --jsonschema_out=:. config.proto` (on the version of config.proto in your master branch). This results in 5 generated jsonschema files:

- AgentConfig.jsonschema
- DataCapture.jsonschema
- Message.jsonschema
- Opa.jsonschema
- Reporting.jsonschema

It looks like the `dataCapture` schema is in

[2020-12-02 16:15] grant commented on #47
This PR works for me.

[2020-12-02 21:08] chrusty commented on #47
Releasted today: check https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/0.9.7

[2020-12-02 21:08] #47 closed

[2020-12-11 19:37] parsnips opened #49 "Stackoverflow when referencing google/protobuf/descriptor.proto"
When generating a proto that references google/protobuf/descriptor.proto get a stack overflow:

https://gist.github.com/parsnips/ee0c863398f96877092d530b58768f24

Reproducible with

[code]

[code]

[2020-12-12 20:52] chrusty commented on #49
Hey @parsnips, thanks for reporting this. I can confirm that I can reproduce the issue. Looked into it last night but got a bit mind-boggled with the ENUM recursion code. I was able to successfully generate jsonschemas for this proto by making a copy of the proto file and renaming the package to something without dots (this isn't a solution, just an exploration of the issue).

I'll try to get a fi

[2021-02-01 00:38] grant opened #50 "proto3 "bytes" field -> "contentEncoding=base64 string", not just "string""
It would be nice if a proto3 `bytes` field stated in the JSON schema that the string is base64 encoded.

## Reference

- https://developers.google.com/protocol-buffers/docs/proto3
  - proto3 `bytes` field type => base64 string
- https://json-schema.org/understanding-json-schema/reference/non_json_data.html#id2
  - `"type": "string"`
  - (NEW) `"contentEncoding": "base64"`

## Expected

- Add `"con

[2021-02-14 06:33] chrusty commented on #50
Hey @grant, this sounds reasonable enough. I'll get something in over the next few days (been away from computers for a couple of weeks).

[2021-02-14 06:35] grant commented on #50
No rush!

[2021-02-20 19:39] chrusty commented on #50
Hey @grant, I've merged the PR. Give it a try, let me know if it works for you, then I'll tag a release.

[2021-02-21 03:16] grant commented on #50
Thanks! I've verified this generates better schemas.

[2021-02-21 19:17] chrusty commented on #50
https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/0.9.8

[2021-02-21 19:17] #50 closed

[2021-02-23 07:09] phlax opened #52 "No such package nor message in package"
Im trying to understand the purpose of this message.

afaict this is triggered on conversion of every proto file where a package is specified (not specifying the package results in a warning) - and also on any "parent" packages if the package has `more.than.one.part`

i guess this can be safely ignored, but it creates a lot of noise when generating schemas from a large protocol set, and makes it d

[2021-02-23 07:27] chrusty commented on #52
Hey @phlax, thanks for raising this. What you are saying makes sense - I can pretty easily change the severity of that log messing so it falls beneath the default threshold.

[2021-02-23 07:34] chrusty commented on #52
@phlax are you able to give this another try, from the laster `master`? If that works for you I will tag a new release with these changes.

[2021-02-23 07:45] phlax commented on #52
great! thanks

[2021-02-23 13:28] #52 closed

[2021-03-10 14:02] geekpex opened #55 "*structpb.Value type fields are not correctly interpreted to JSON Schema"
### Problem
With newer protobuf packages the struct fields that are of type *structpb.Value are outputted to JSON schema only as object and it does not allow other types that *structpb.Value supports (null, a number, a string, a boolean, a recursive struct value, or a list of values). This results in validation errors when the field value in JSON is for example string.

**Protobuf package versions

[2021-03-11 23:01] chrusty commented on #55
Thanks @geekpex , I'll take a look

[2021-03-19 14:45] patrick-rotsaert opened #56 "Render protobuf oneof as json schema oneOf"
When converting the following proto file:

[code]
then the resulting json schema is:
[code]
This would allow a `Foo` instance to contain both the `bar` and `baz` attributes, which kind of defeats the purpose of the `oneof`.

Would it be possible to generate a schema like this instead?
[code]

[2021-03-21 07:47] chrusty commented on #55
Hey @geekpex, I've [merged a PR into master](https://github.com/chrusty/protoc-gen-jsonschema/pull/57) which should address this.

Would you be able to give it a try, let me know if it has solved the issue?

[2021-03-21 08:34] chrusty commented on #56
Hi @patrick-rotsaert. I've had a go at this, and [have a PR](https://github.com/chrusty/protoc-gen-jsonschema/pull/58) which hopefully does what you're after.

Would you be able to give this branch a try, and see if it meets your requirements?

It _has_ broken one of the other unit tests though, so I'll need to figure that out before merging this.

Anyway let me know how you get on, and thanks for

[2021-03-21 08:51] #43 closed

[2021-03-22 08:04] patrick-rotsaert commented on #56
Hi @chrusty, your change does exactly what I needed. Thanks a lot.

[2021-03-22 18:54] chrusty commented on #56
This is merged and included in the latest release (https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/0.9.9)

[2021-03-23 18:00] spent-death opened #59 "Schema name is lost in nested definition"
Consider:
[code]

This is the generated json:

[code]

There is no way to know that `AddressBook.people` is of type `Person`. It is an array with the the fields that are in the json, but knowing that it's part of the `Person` schema is useful.

[2021-03-24 05:02] grant opened #60 "Put oneOf Types Update Behind Feature Flag"
If possible, could we put the `oneOf` feature (#57, #58) behind a feature flag? I believe the oneOf type is going to be a breaking change going forward, and isn't ideal for everyone. I'm running some language generators and the results aren't as great with this addition.

That might mean going back two commits and adding a forward commit with the feature behind a flag.

In general, it would be awe

[2021-03-30 01:19] #55 closed

[2021-03-30 01:29] chrusty commented on #60
Hi @grant.

This is a bit of a tricky discussion, and comes down to what makes a breaking change, and what is just adding functionality which arguably should be a default behaviour when interpreting proto files.

You've mentioned two recent additions here. I can see how https://github.com/chrusty/protoc-gen-jsonschema/pull/58 could modify behaviour in potentially annoying ways, but considering the

[2021-03-30 01:56] chrusty commented on #56
Hey @patrick-rotsaert, had to re-open this one as it has caused some issues elsewhere. I'm planning on putting the new `oneOf` interpretation behind a feature flag. You'll be able to use it just fine, the only difference is you'll need to use an extra command-line option when generating your oneOf schemas. Probably a number of people (including myself) had made assumptions around how oneOf was int

[2021-03-30 03:45] grant commented on #60
OK. #57 sounds fine. #58 behind a flag would help. I can't tell what affected the change on our side, those were just the PRs I see when diffing the last time we ran our tooling.

In general, we don't need to add a flag for everything – yes that would get annoying quickly.

The list above sounds good. I haven't followed the semver of this library much, but that plan sounds good.

[2021-03-30 20:05] chrusty commented on #60
This is merged and tagged in a new release: https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/0.9.10

[2021-03-30 20:05] #60 closed

[2021-03-30 20:05] chrusty commented on #56
@patrick-rotsaert see the new release: https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/0.9.10

[2021-03-30 20:05] #56 closed

[2021-05-01 20:55] MP-85 opened #62 "google.protobuf.Any converted into value/binaryEncoding: base64"
Hello,
I am doing some tests with this nice library, but for what I have seen so far, google.protobuf.Any is associated to a base64 field in the json schema. I now that this is what happens when you try to serialize to json a protobuf including any, using classical json.Marshal(X). But, doing in this way you don't have anymore a readable file.
Instead, there is another way to serialize, using json

[2021-07-06 21:18] grant opened #63 "google.protobuf.Duration Should Be String"
The type `google.protobuf.Duration` should be a string, not an object:

[code]

## Expected

[code]

## Actual

[code]

## References

### Chrusty code

- Chrusty test code: https://github.com/chrusty/protoc-gen-jsonschema/blob/master/internal/converter/testdata/proto/WellKnown.proto
- Chrusty converter code: https://github.com/chrusty/protoc-gen-jsonschema/blob/dc9f1089af276da06ce58d3d305fb75c8b8

[2021-07-11 02:27] chrusty commented on #63
Thanks for this @grant. I'll make a release once I've run some tests.

[2021-07-11 02:30] chrusty commented on #63
https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.0.0

[2021-07-11 02:30] #63 closed

[2021-07-12 06:09] grant opened #65 "GoogleValue type descriptions aren't added to JSON Schema"
(Creating this issue for tracking purposes)

The descriptions for well known types are not added to the JSON schema. Example:

[code]

We should expect `arg` to be a property and have a `description`.

[code]

I think there is maybe something missing with:

[code]

https://github.com/chrusty/protoc-gen-jsonschema/blob/1.0.0/internal/converter/types.go#L527-L541

[2021-07-12 18:29] grant opened #66 "Add "format" property to google.protobuf.Duration string"
`google.protobuf.Duration` types should has a `format` / `pattern` property with the expected formats that are valid for this string.

Ref:
- https://github.com/chrusty/protoc-gen-jsonschema/issues/63
- https://json-schema.org/understanding-json-schema/reference/string.html

Examples:
- "3.000001s"
- "3s"

[2021-07-18 09:41] chrusty commented on #66
A PR is open for this: https://github.com/chrusty/protoc-gen-jsonschema/pull/67

[2021-07-20 08:24] chrusty commented on #66
I've merged a fix for this, and made a pre-release here: https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/untagged-f8dda646aa02d3927db9

[2021-07-20 08:24] #66 closed

[2021-07-20 08:25] chrusty commented on #65
I've merged a fix for this and made a pre-release: https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/untagged-f8dda646aa02d3927db9

Let me know once you've been able to test it and I'll publish the release.

[2021-07-20 08:25] #65 closed

[2021-09-01 11:48] marchesM opened #69 "Transient fields"
Idea would be to have an proto option to mark a field to not be added to the json schema, example:

[code]

which would output a json schema with only fields numbers 0 and 1, fields number 3 and 4 are not present in the json schema.

Goal of this:
use a message for the back end and allow to use the same message for the front end while being able to hide some fields because they are technical or so

[2021-09-01 20:34] chrusty commented on #69
Thanks for your idea @marchesM. At first glance this seems like something that could quite safely be introduced. Are you aware of any de-facto standard proto option we could use here?

[2021-09-01 20:44] chrusty commented on #69
I'm wondering if we could use the `deprecated` field-option: https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/descriptor.proto#L613

I'd have to add an optional flag for `exclude_deprecated_fields` to avoid causing issues for anyone already using this field-option. Does this sound like a workable solution?

[2021-09-03 05:16] chrusty commented on #69
OK I've got a PR which shows what this could look like: https://github.com/chrusty/protoc-gen-jsonschema/pull/71

It's a bit ugly, and I couldn't easily find a good way to iterate through these field options, but it _does_ work. I still need to add the feature flag to enable this behaviour because I don't really want it to be enabled by default.

[2021-09-04 01:39] chrusty commented on #69
I've merged this into the `master` branch. Give it a go, and if it works for you then I'll make a new release.

[2021-09-04 01:40] chrusty commented on #49
This turned out to be quite bewildering. Hopefully not too much of an issue, because it seemed that it was going to be quite an invasive fix.

[2021-09-04 01:40] #49 closed

[2021-09-04 02:00] chrusty commented on #62
Just looking at this now (sorry). It looks like a google.protobug.Any value currently maps to a base64 value, which I think is probably the only safe way to handle it (given that this could literally be anything). This approach _does_ seem a bit laborious, but at least can handle any situation.

https://developers.google.com/protocol-buffers/docs/reference/csharp/class/google/protobuf/well-known-t

[2021-09-07 21:11] chrusty commented on #69
Alright well I've made a new release with this feature:

https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.0.3

Let me know if you get a chance to confirm that this works for you.

[2021-09-07 21:11] #69 closed

[2021-09-14 07:11] NoobMaster-96 opened #72 "I want to enforce_oneof and make all other properties except the ones in one of as required."
I am trying to use enforce_oneof and all_fields_required at the same time. But this marks the individual one_of fields as required and thus enforce_oneof doesn't works, Is there any way to only make non one_of fields required.

[2021-09-16 20:58] chrusty commented on #72
hey @NoobMaster-96, thanks for raising this. I'll take a look and see what can be done.

[2021-09-17 14:18] neopaf opened #73 "$ref: broken?"
(thanks a lot for a superb plugin!)

Source:
[model.proto.txt](https://github.com/chrusty/protoc-gen-jsonschema/files/7186285/model.proto.txt)
e

I'm a bit confused about $ref codegeneration.
It get's generated "just.name.with.package.of.referred.entity".
This is not valid JSON reference, as I understand it.

Example of "wrong" `$ref` from `Party.jsonschema`:
[code]
I feel this should have been:
[

[2021-09-17 14:21] neopaf opened #74 "Sometimes $ref, sometimes embed"
Source:
[model.proto.txt](https://github.com/chrusty/protoc-gen-jsonschema/files/7186350/model.proto.txt)

Why we don't get reference generated in 100% cases.
From `Party.jsonschema` -- `characteristic.items` is ref, while `external_id.items` is embedded.
[code]

I feel it should always be a ref.
currently `external_identification_type_id` field is generated in 5 files, while file `ExternalIdentif

[2021-09-17 14:25] neopaf commented on #74
My feeling is that Characteristics refers to itself, so it was "forced" into some separate "mode".
I feel that mode could be extended to all messages, resulting in `$ref`-s everywhere.

[2021-09-17 14:39] neopaf opened #75 "One big schema"
Didn't find a way to generate not separate `.jsonschema` files, but one.

Maybe there is one?

[2021-09-17 22:10] clementdoordash opened #76 "Add custom option (similar to hidden) that lets user specify specific required fields"
Currently required is all or nothing for proto3 syntax. Would be really helpful to have a custom option that let's us specify if a single attirbute is required in json.
[code]

[2021-09-18 07:43] chrusty commented on #75
Hi @neopaf. No, there is currently no option to do this - each proto message gets its own separate JSONSchema file.

Given that each JSONSchema is a complete JSON object, writing a bunch of them to a file could make it quite difficult to use?

Could you outline the use-case you're thinking of?

[2021-09-18 07:48] chrusty commented on #73
Hey @neopaf. Thanks for raising this, it seems that I need to spend some time investigating the `$ref` behaviour.

[2021-09-18 07:50] chrusty commented on #76
Hey @clementdoordash, thanks for raising this.

OK, I guess this means that you've already tried the new hidden / ignore option?

Implementing this "required" logic using another proto option shouldn't be too much of a hassle. I'll take a look and hopefully get something implemented for you to try soon.

[2021-09-18 09:06] chrusty commented on #72
@NoobMaster-96 please give the new release a try, and let me know if you're still having trouble with it.

https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.0.4

[2021-09-18 09:37] chrusty commented on #76
Have a look at the new release https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.0.5

Hopefully this does what you need!

[2021-09-18 09:37] #76 closed

[2021-09-18 21:56] chrusty commented on #74
This is interesting behaviour, I'll take a look and see if I can figure it out.

This referential logic is a bit mind-bending at times.

[2021-09-19 05:13] chrusty commented on #75
OK I spent some time today looking into the REF issues. Actuallly, the idea of creating a separate schema file for each message it finds is the desired behaviour.

Of course (as in your instance) you are referencing these messages within the main "party" message, but some other use cases may require these to be separate for specific validation purposes.

HOWEVER, there is something which might hel

[2021-09-19 05:13] #75 closed

[2021-09-19 05:15] chrusty commented on #73
Hey @neopaf.

I've been investigating your other issue with $refs, and in the process of that have been testing the generated schemas using https://www.jsonschemavalidator.net/. The format generated by the JSONSchema library i'm using seems to work fine in there. In any case, if it didn't work fine then I have a much bigger problem on my hands!

Granted, this will only work if all of the generated

[2021-09-19 05:22] chrusty commented on #74
Hello @neopaf, OK I have something for you to try out!

I've spent some time today trying to figure out what's going on here. The code used to generate references was contributed by someone else, so It did take me some time to familiarise myself with it. They had hard-coded a comparison that checks how many times a message is mentioned, and only creates a reference to a definition if it appears MO

[2021-09-19 08:51] chrusty opened #79 "Get an options number registered"
Submit a PR to https://github.com/protocolbuffers/protobuf/blob/master/docs/options.md to add our custom options number

Should be implemented more like this: https://github.com/GoogleCloudPlatform/protoc-gen-bq-schema/blob/master/bq_field.proto

[2021-09-20 07:40] NoobMaster-96 commented on #72
hey @chrusty it's still not working as it's supposed to.
[jsonschemas/OneOf.jsonschema](https://github.com/chrusty/protoc-gen-jsonschema/blob/master/jsonschemas/OneOf.jsonschema) in this file you have done one of and all required but it's not making the field something as required.

[2021-09-20 07:59] NoobMaster-96 commented on #72
@chrusty I have a proto file.
`syntax = "proto3";

import "school/school.proto";
import "school/hs.proto";

package board;

message Board{
  string name = 1;
  repeated Schooltype listofschools = 2;

  message Schooltype{
    oneof School{
      school.School school = 1;
      school.HighSchool hschool = 2;
    }
  }
}
`

When I create a jsonschema with one of and all fields required it gives some

[2021-09-20 08:06] chrusty commented on #72
Hey Avinash.

Which command are you using to generate? Try this one:

protoc --jsonschema_out=all_fields_required,enforce_oneof:. --proto_path=.
internal/converter/testdata/proto/OneOf.proto

On Mon, 20 Sept 2021 at 19:40, Avinash Choudhary ***@***.***>
wrote:

[2021-09-20 08:23] chrusty commented on #72
Also, are you able to provide all of your proto files? Then I can have a go at generating them myself and hopefully see where the problem is.

[2021-09-20 08:30] NoobMaster-96 commented on #72
You can find the proto files in this repo.
[proto folder](https://github.com/NoobMaster-96/Sample-protos

[2021-09-20 08:35] NoobMaster-96 commented on #72
I would also like to point to one more issue.
when it creates a reference like "class.Class" in the above provided schema. It doesn't make the fields of that reference required. As you can see inside the definition of "class.Class" the fields "std" and "students" are not marked as required.

[2021-09-20 09:01] chrusty commented on #72
Alright, I've reopened this and will take a look.

[2021-09-20 09:13] chrusty commented on #72
Hey @NoobMaster-96, I've just made a new branch https://github.com/chrusty/protoc-gen-jsonschema/tree/further_oneof_required_investigation

Would you be able to give this a try and see if it fixes your first issue? I'll look at the second one now.

[2021-09-20 09:35] chrusty commented on #72
OK, the second issue might be good now as well (at least your protos seem to compile properly).

Please let me know if this works, and I'll merge then make a new release for you.

[2021-09-20 10:01] NoobMaster-96 commented on #72
Hey @chrusty both the issues are resolved with this branch. Thanks for the help.

[2021-09-20 10:04] chrusty commented on #72
Awesome! Glad it is working now.

https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.0.6

[2021-09-20 10:04] #72 closed

[2021-09-20 16:53] clementdoordash commented on #76
Yes! That's exactly it. Thank you :).

[2021-09-20 22:12] chrusty commented on #76
I'm glad this is working as expected. Like I said, easy enough to implement.

I would like to point out that I have done this in quite a messy way, and have some [work in the pipeline](https://github.com/chrusty/protoc-gen-jsonschema/issues/79) to tidy up how these custom options are presented and interpreted. I've also [applied for an official options number in the protobuf repo](https://github.c

[2021-09-20 22:12] chrusty commented on #69
I would like to point out that I have done this in quite a messy way, and have some [work in the pipeline](https://github.com/chrusty/protoc-gen-jsonschema/issues/79) to tidy up how these custom options are presented and interpreted. I've also [applied for an official options number in the protobuf repo](https://github.com/protocolbuffers/protobuf/pull/8999).

It means that in a future release you

[2021-09-20 22:39] chrusty commented on #59
I have some work in the pipeline that should resolve this (long standing) issue. Watch this space.

[2021-09-21 01:36] chrusty commented on #79
PR has been submitted and [merged](https://github.com/protocolbuffers/protobuf/pull/8999), we now have our own options number: **1125**

[2021-09-21 03:09] chrusty commented on #79
https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.1.0

[2021-09-21 03:09] #79 closed

[2021-09-21 03:09] chrusty commented on #76
OK, the new behaviour is live in https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.1.0

[2021-09-21 03:09] chrusty commented on #69
OK, the new behaviour is live in https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.1.0

[2021-09-21 11:11] neopaf commented on #75
I just prefer one big schema file, that contains everything.
A matter of taste.
If it's desirable to have them separate, fine with me ;)

[2021-09-22 06:00] neopaf commented on #74
thanks! (fantastic reaction speed!)

tested, I see that by default all schema files now contain `definitions`:
[code]

And now all are referenced instead of embedded.
Which is a good!

I've tested `messages=[Party]:` option and found that it reverts root object to old approach, but still keeps all used type declaration separately and embeds nothing, which is also good.

I'm not 100% sure about if

[2021-09-22 06:45] neopaf commented on #73
(can't reopen myself, please consider)

I've checked https://www.jsonschemavalidator.net/, and indeed it properly marks this code as invalid:
[code]
against `Party.jsonschema`.

Regretfully I've dug for an hour and can't find anything that allows such syntax as we have now :(

There is also a lot of talk in spec about non-canonical URI's and spec `$id` and resolutions but that is about separate fi

[2021-09-22 06:52] neopaf commented on #73
All in all, I feel, current `$ref` value should be changed to follow JSON Pointer format, as per spec chapter
https://json-schema.org/draft/2020-12/json-schema-core.html#rfc.section.9.2

We have no `$id` (and I wouldn't like going that way).
So we are left with JSON Pointer.

what we have now is not a JSON pointer.

As I understand your approach now, schemas are independent, so I change my suggest

[2021-09-22 06:57] neopaf commented on #73
Probably I should give some background as to what I'm doing with these schemas.
I'm trying to work out some examples of usage of an interface, defined in `.proto` files.
Since I found no convenient ways to do that, I remembered that one can validate content against JSON Schema, and IntelliJ IDEA can do that extremely conveniently.

So I've started with an example and discovered that JSON validator

[2021-09-22 06:58] neopaf commented on #73
But after suggested change (global replace) it started to follow `$refs` to proper definitions and I became locally-happy:

![image](https://user-images.githubusercontent.com/4362564/134297178-1d868b3a-256e-4bb8-959d-e37ad748ea7b.png)

(I could add a hack that starts a global replace after your plugin, but I'm trying to avoid that uglines and go straight to you ;)

[2021-09-23 01:32] chrusty commented on #73
OK I see. I'll keep this in mind when dealing with the other $ref issue. And yes, if it causes a problem then we can hide this behind a feature flag. Either way, you shouldn't have to do this global replace.

[2021-09-23 09:41] neopaf commented on #73
Thanks for the attitude!
A bit of a quriosity: what do you use your plugin? What tasks did you aim it to?

[2021-09-23 10:02] chrusty commented on #73
I don't even use this thing any more really... I WAS using it for some clients who were defining event payloads using protobuf, but wanted to be able to validate them against some kind of schema library. I guess it was done in a generic way, so it has been useful to other people.

By the way I've been testing the `#!/definitions` thing and it works with the online validator I use, but not with the

[2021-09-23 20:20] neopaf commented on #73
thanks a ton for your efforts!
(hope that doesn't distract you much from other affairs ;)

[2021-09-23 21:16] chrusty commented on #73
It's OK, I like this project. At the moment none of my jobs involve writing
any GoLang, so these open-source projects allow me to keep my brain
occupied.

On Fri, 24 Sept 2021 at 08:21, Alexander Petrossian (PAF) <
***@***.***> wrote:

[2021-09-23 21:18] chrusty opened #83 "Now that we have a generous allocation of protobuf options numbers we should use them!"
I've recently secured numbers 1125-1129 for protoc-gen-jsonschema. This allows us to define options which control the behaviour of the generator to a finer degree, without having to mess about with CLI flags.

These could be used for the following:

- [x] FieldOptions
    - [x] Required
    - [x] Ignore
- [x] MessageOptions
    - [x] AllFieldsRequired
    - [x] DisallowAdditionalProperties
    - [

[2021-09-26 13:56] Kiyo5hi opened #85 "Cannot compile when two messages have the same name"
I've defined two protos with exactly the same content, but in different folders as such:

[code]

As I expect the output should be in the same structure as shown above just like when using `--python_out` or other options, `protoc` throws `Tried to write the same file twice.`

Even if I rename one of the messages to `message Pet1`, the output structure is flat, like so:

[code]

Should that be fixe

[2021-09-26 19:38] chrusty commented on #85
Hello @Kiyo5hi, and thanks for your interest in the project.

In your example, are your proto files separated into different packages? Proto packages are namespaced, and protoc-gen-jsonschema produces one file per message.

Eg is a/pet.proto in a package called "a", and b/pet.proto in a package with a different name like "b"?

If so, then you could look at using the `prefix_schema_files_with_packa

[2021-09-26 21:16] chrusty commented on #73
@neopaf take a look at this PR: https://github.com/chrusty/protoc-gen-jsonschema/pull/86 - it allows you to provide a custom prefix for any $refs.

Please let me know if this is something that you would use. I would not make this the default behaviour, because the schemas generated by protoc-gen-jsonschema are intended to be fully self-contained within one file (all dependencies in one place). Thi

[2021-09-27 01:53] Kiyo5hi commented on #85
That does the math for me; thank you! BTW, how do I apply multiple options at once?

[2021-09-27 02:04] chrusty commented on #85
I'm pleased to hear that works!

Use multiple options with this syntax:

`protoc --jsonschema_out=prefix_schema_files_with_package,all_fields_required:. `

[2021-09-27 02:04] #85 closed

[2021-09-27 02:04] chrusty commented on #85
(Separated by comma)

[2021-09-28 10:40] neopaf commented on #73
thanks!
I'll check it out as I'll return from a small vacation.

[2021-09-28 20:02] chrusty opened #87 "Update to new protobuf package"
`go: module github.com/golang/protobuf is deprecated: Use the "google.golang.org/protobuf" module instead.`

[2021-09-28 22:46] chrusty commented on #73
Actually I've brought this back into the other $ref PR: https://github.com/chrusty/protoc-gen-jsonschema/pull/82

[2021-09-29 07:08] neopaf commented on #73
@chrusty , that PR looks very reasonable to me. Thanks a lot for these efforts!

[2021-09-29 17:13] grant opened #88 "Use .json, not .jsonschema for JSON schemas"
Tooling is generally better with the `.json` extension with JSON schemas, and the spec is indifferent with file extension. We should rename `.jsonschema` to `.json` everywhere in this repo.

I do not know/remember if this proposed change would just be internal or would be external.

[2021-09-29 21:52] chrusty commented on #74
This has been merged and [released](https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.2.0)

[2021-09-29 21:52] #74 closed

[2021-09-29 21:52] chrusty commented on #73
See the [new release](https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.2.0)

[2021-09-29 21:52] #73 closed

[2021-09-29 21:53] chrusty commented on #59
Hi @spent-death. Please see [the latest release](https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.2.0), which hopefully solves your issue.

[2021-09-29 21:53] #59 closed

[2021-09-29 21:55] grant opened #89 "Handle google.protobuf.Struct"
Currently the generator doesn't handle the special type `google.protobuf.Struct` that well:

## ACTUAL

[code]

[code]

## EXPECTED

[code]

I think we clean this up in postgen, but we should try to clean up the schema upstream.

---

https://github.com/chrusty/protoc-gen-jsonschema/blob/3469322725c0968fb49b3552ff59ead8bb9d735a/internal/converter/types.go#L184

[2021-09-29 23:39] chrusty commented on #89
See the [new release](https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.2.1) for this feature

[2021-09-29 23:39] #89 closed

[2021-09-30 09:26] neopaf commented on #73
oh. Christmas came earlier this year? :)

Thanks a lot!
(I expect other people being not so happy and asking you to make this optional ;)

[2021-09-30 19:51] chrusty commented on #87
Looks like this is possible, but the generated pb.go code still refers to the old repo.

[2021-09-30 19:55] #87 closed

[2021-09-30 19:55] chrusty commented on #87
This has been done.

[2021-10-01 00:37] chrusty commented on #88
Hey @grant I've [opened a PR](https://github.com/chrusty/protoc-gen-jsonschema/pull/92) which allows the user to specify whatever file extention they like. Let me know if this works for you.

[2021-10-01 01:50] grant commented on #88
Thanks! This is a great improvement.

I think we should also consider the default extension to be `.json` since this  is the the `application/json` MIME type and allow developers to use `.jsonschema` or other `.*` extensions.

There are a few links for this rationale. Example:
https://datatracker.ietf.org/doc/html/draft-handrews-json-schema-01#section-4.1

[2021-10-01 01:52] chrusty commented on #88
I kinda liked calling them `jsonschema` because it's a specific usage of JSON, but whatever, long as people can use the option to override it then we haven't _removed_ the original behaviour, right.

[2021-10-01 01:55] grant commented on #88
I've always thought the file format is really just JSON and should be parsed/treated as JSON but with the special `$schema` field as the indicator of if the JSON document is a schema document or something else.

Either way, the option for developers works for me!

[2021-10-01 02:04] chrusty commented on #88
https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.2.3

[2021-10-01 02:04] #88 closed

[2021-10-01 07:35] #83 closed

[2021-10-06 20:22] Yowgf opened #94 "Duplicated sample step in Makefile"
Hi, it looks like the lines below (currently 58 and 59) are repeated in the Makefile, except for the echo command on the end.

`	@PATH=./bin:$$PATH; protoc --jsonschema_out=jsonschemas -I. --proto_path=${PROTO_PATH {PROTO_PATH}/OptionRequiredMessage.proto || echo "No messages found (OptionRequiredMessage.proto)"
`

`	@PATH=./bin:$$PATH; protoc --jsonschema_out=jsonschemas -I. --proto_path=${PROTO_

[2021-10-06 20:37] Yowgf opened #95 "Misspelling of "extension""
I believe the word "extention", used throughout the repository, is a misspelling of "extension". I found this out when trying the "file_extention" option. It took me a few minutes to realize that it was written that way.

Thanks for this repository, by the way. Really useful!

[2021-10-06 21:21] #94 closed

[2021-10-07 20:13] #95 closed

[2021-10-27 05:05] maxlandon opened #97 "Add comments to Enum fields"
Hello, first thanks a lot for this plugin, really useful at no cost, great stuff !

However in when getting completion and associated documentation strings in an editor, `Enum`
fields do not have their associated comment. The comment presented is always the one for
the root `Enum` type name (eg. `enum Channel {}`).
I would gladly fix this if I could, but I don't quite have the time to get into the

[2021-10-30 01:43] chrusty commented on #97
Hello @maxlandon, thanks for reporting this. I'll take a look in the coming week. Hopefully this is something fairly simple. There is a bit of a branch in the logic to handle ENUMs, I can easily imagine how this may have happened.

[2021-11-05 20:16] chrusty commented on #97
Hey @maxlandon, are you able to try this branch out and make sure it does what you need? If it looks good then let me know and I'll merge then make a new release.

[2021-11-05 20:49] chrusty commented on #97
Hi @maxlandon. The PR I raised this morning _does_ introduce the comment for an ENUM to the description for its JSONSchema, but it is possible that I'm not entirely understanding what you expect here. Are you able to provide a sample proto, and a sample of what you would like it to turn into?

Here is an example in the unit tests where you can see a code comment for an ENUM proto becoming a JSONSc

[2021-11-06 02:15] chrusty commented on #97
After skimming through that trail for the json-schema-spec I think I agree - the `const` approach seems to be the cleanest option, but for compatibility I'd still have to provide the "ENUM" array too. In any case this probably isn't going to happen any time soon because const doesn't seem to be supported by the jsonschema library I'm using in this plugin.

Interestingly there was an [issue raised

[2021-11-06 02:19] chrusty commented on #97
I've merged that other PR, lets bring the ENUM conversation back into this issue from here on.

To summarise, @maxlandon would like to be able to provide an annotation / description for each allowed value in an ENUM, but the JSONSchema spec doesn't allow this (ENUMs are a simple array of values with one overall description field available).

The example above (from [a thread on the jsonschema spec

[2021-11-06 02:31] chrusty commented on #97
I've just tried this [here](https://www.jsonschemavalidator.net/s/MwdO9yxo) - works with draft-05 spec

[code]

[2021-11-06 03:27] maxlandon commented on #97
Ohh thanks a lot for keeping that on top, I appreciate a lot !
Ok let me try this attempt, coming back

[2021-11-06 03:35] maxlandon commented on #97
Ok well my last problem (but it seems not related), is that I can't get the http://json-schema.org/draft-05/schema# URL, and I don't why (other than returning 404).
Therefore I can't test the changes... Do you know how to proceed here ?

[2021-11-06 03:38] maxlandon commented on #97
Okay so I could not fetch the draft-05, (returns 404) so I tried with draft-06.
The same code compiles on the json-schema.org interative compiler, but no results in my editor (vim, if that helps)

[2021-11-06 06:52] chrusty commented on #97
Yeah, we're on the right track. It turns out that draft-05 isn't really a thing, so i'm working with Draft-06 here. They maintain decent release notes to work from, and [it doesn't look like I'll have any major issues](https://json-schema.org/draft-06/json-schema-release-notes.html#q-what-are-the-changes-between-draft-04-and-draft-06).

I've actually got a PR which will create this schema outlined

[2021-11-06 07:15] chrusty commented on #97
Have a look at this PR: https://github.com/chrusty/protoc-gen-jsonschema/pull/99

I've introduced a new MessageOption and EnumOption called `enums_as_constants`. If you take your ENUMs or Messages with one of those then the generated schema will encode the OneOfs as `CONST`, including the comment/annotation.

I've updated the [README for custom proto options](https://github.com/chrusty/protoc-gen-

[2021-11-06 20:40] #62 closed

[2021-11-06 20:46] chrusty opened #100 "Update to a more actively maintained JSONSchema library"
Currently we're using https://github.com/alecthomas/jsonschema to build JSONSchemas, but this project seems to have stopped at draft-04. It might be time to consider an alternative such as https://github.com/santhosh-tekuri/jsonschema,

[2021-11-08 01:13] maxlandon commented on #97
Hello @chrusty ! Glad to hear this from you ! I'm in France, UTC+1
So good news your PR works... but my Editor completion engine doesn't :)
Nonetheless I can confirm that the descriptions are correctly generated for my proto enums.

... As far as my editor is concerned and me abusing a liiiiiiittttttlle bit of your kindness (your fixes were quick, I appreciate immensely) and ask if you know if the

[2021-11-08 01:29] chrusty commented on #97
Hey @maxlandon, I've changed it from `title` to `description` now. Can you try again?

I'm in New Zealand by the way.

[2021-11-08 02:20] maxlandon commented on #97
Hey really cool, far from here but definitely a place to go once. At the very least if the Lord of The Rings is your favorite film :)

For the code, well it doesn't work either in my editor, which means that I'll deal with it, engine I'm using must not be checking the enum values (likely, because until now there wasn't much support for this, as we've seen).
I'll deal with that, I've opened an issu

[2021-11-09 03:46] chrusty commented on #97
I've made a [new release](https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.3.2) which includes this new feature.

Thanks for working with me on this one @maxlandon!

[2021-11-09 03:46] #97 closed

[2021-11-16 02:41] atreya2011 commented on #100
Thanks for link! I was searching for a library which supports JSON Schema Draft 07

[2021-11-16 02:48] atreya2011 commented on #100
Upon further inspection it looks like this library https://github.com/santhosh-tekuri/jsonschema doesn't support conversion but rather just validation?

[2021-11-16 03:17] chrusty commented on #100
Hi @atreya2011. I've not done any testing against this library, but at first glance it _did_ seem to support the new JSONSchema features that I'd like to use here.

protoc-gen-jsonschema wouldn't make use of any conversion capabilities anyway - these behaviours are so tighltly bound to the options we offer and the desired layouts. I'd really just be looking to use the structure and marshalling cap

[2021-11-18 02:09] atreya2011 commented on #100
Thanks for your kind reply 🙏🏼
In then end I have decided to go down this path
-  Maintain the JSON Schema as a YAML file
- Convert it to JSON, Go and TypeScript definitions using codegen libraries

A example of how I went about it is here if you are interested
https://github.com/atreya2011/go-kratos-test/blob/32328056c8f2764b5f0fadeaf8e1d7a817b630d8/Makefile#L4

[2021-11-22 08:08] marchesM commented on #69
Hi,
Thanks a lot even though I wasn't answering.
It's been a busy period. I'll definitely check this out in the next weeks.

[2021-11-30 14:59] justman00 opened #102 "Question: OneOf json schemas"
I have a question regarding the limitations of `protoc-gen-jsonschema` or `protobuf` as a whole.

Basically I intend to write a proto file that could generate a structure similar to this:
[code]

Because if I try to create a similar thing in proto:
[code]

The generated json schema results into:
[code]
which to be fair isn't the same as having a true oneOf that doesn't depend on the keys.

[2021-12-06 07:19] chrusty commented on #102
Hi @justman00, thanks for raising this. Sorry I didn't get back to you sooner.

I'll take a look at this over the coming days and see if I can find an example that works for you.

[2021-12-06 07:55] chrusty commented on #102
Hey @justman00, I've been looking into this and I have come to the conclusion that what is possible in JSONSchema doesn't always make sense when applied to proto. According to [this page](https://developers.google.com/protocol-buffers/docs/proto#oneof) `oneOf` in proto refers to a _field_ (not an entire message / object), so I guess they will always be nested in this way.

I wonder if it is someho

[2021-12-07 08:06] justman00 commented on #102
unfortunate, but thanks a lot for taking a look! 🙏

[2021-12-14 12:22] pfedan opened #103 "Support of optional fields in proto3"
I am stuck using protoc-gen-jsonschema with optional fields. Here's a minimal example:
[code]
When compiling this file using ```protoc --jsonschema_out...``` (protobuf-compiler 3.19.1), it tells:
[code]
So here I am :).

Are there any plans on supporting optional fields in proto3? See also: [Protobuf v3.15.0](https://github.com/protocolbuffers/protobuf/releases/tag/v3.15.0)

[2021-12-14 18:59] chrusty commented on #103
Hi @pfedan, thanks for raising this issue.

This is a weird one, given than fields in proto3 are _always_ optional! I started reading about this new feature after being notified of the issue you raised, and it seems that might be more about code generation than schemas and validation.

What is the effect for you at the moment. Are you able to generate your jsonschemas, or does it abort? It might b

[2021-12-14 19:17] chrusty commented on #103
I've got a PR here if you want to test it out (you'd have to build from this branch): https://github.com/chrusty/protoc-gen-jsonschema/pull/104

Let me do some further reading to see what else I might need to do to actually "support" optional proto3 fields.

[2021-12-15 07:58] pfedan commented on #103
Hi @chrusty, I just built from your PR branch and now it works as desired. Thank you very much for your quick reaction!

We're using protocol buffers across a number of languages, and we find the optional declaration useful for documentation purposes - even though it is known, that actually every field is optional since proto3.

[2021-12-15 20:19] chrusty commented on #103
OK I'll merge this as-is so you can get up and running, but will probably need to revisit the logic later on.

[2021-12-15 20:22] chrusty commented on #103
Thanks again for raising this @pfedan. Here is a new release with the proto3 optional support flag enabled: https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.3.4

[2021-12-15 20:22] #103 closed

[2021-12-20 19:07] chrusty opened #107 "Tests failing with some versions of protobuf"
Because the comment string for one of the wellknown types has changed between versions.

[2022-01-13 10:30] mrozycki-tink opened #108 "Adding titles to generated JSON Schema"
I would be happy to implement it myself, but it seems like a bigger change, so I wanted to consult first.

Our main use-case for the JSON Schema is generating a form, which can then be filled out by users. Something like this: https://rjsf-team.github.io/react-jsonschema-form/. This means every field has a title and a description to explain what the thing is.

Descriptions are already handled by t

[2022-01-19 23:17] jcchavezs opened #109 "Remove new lines in descriptions."
Generated JSON schema descriptions contain new lines chars which are meaningless in a description, caused mainly by the parsed I think. For example in https://github.com/envoyproxy/envoy/blob/9d5627a0879b0a029e90515137c108e1d2884bfc/api/envoy/config/accesslog/v3/accesslog.proto#L33-L35

[code]

generates something like:

[code]

If not default case I believe it deserves an option.

I am happy to w

[2022-01-19 23:45] jcchavezs commented on #108
Just quick comment, libraries like `envoy` use something called `[:protodoc-title]` https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/bootstrap/v3/bootstrap.proto#L38

[2022-01-20 20:19] chrusty commented on #108
Hello @mrozycki-tink and @jcchavezs, thanks for raising this. Sorry I've not been on it very quickly, had some other work going on in the background.

I'll see what I can make of this over the next few days.

Thanks for your interest in the project!

[2022-01-20 20:20] chrusty commented on #109
Hi @jcchavezs, thanks for raising this. Would you suggest just stripping the '\n' from description fields?

[2022-01-20 20:36] jcchavezs commented on #109
I think so. My main thought on this is that the single new lines are mainly
unintentional, following a max line size rule in proto files. More than one
new line is most likely to be user intent.

On Thu, Jan 20, 2022, 21:20 Prawn ***@***.***> wrote:

[2022-01-24 04:52] chrusty commented on #108
The easiest thing for me to implement is this: https://github.com/protocolbuffers/protobuf-go/blob/master/types/descriptorpb/descriptor.pb.go#L2857

It looks like it is essentially as you suggest @mrozycki-tink. I'll try it out.

[2022-01-24 05:20] chrusty commented on #108
I've got a PR for this: https://github.com/chrusty/protoc-gen-jsonschema/pull/110

@mrozycki-tink do you want to try this branch out before I merge? Let me know if this does what you want.

[2022-01-24 05:20] chrusty commented on #109
Actually those newline characters are disgusting. They should totally be stripped.

[2022-01-24 08:43] jcchavezs commented on #109
Do you want me to come up with a PR?

[2022-01-24 09:12] jcchavezs commented on #108
I was looking at other proto files to understand what they use in general and verify whether this approach makes sense or not.

[Google protobuf wrappers](https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/wrappers.proto#L69) which is a huge popular set of proto messages uses the detached leading line approach, for example:
[code]
so does other APIs like [kubernetes](https

[2022-01-24 16:24] yudintsevegor commented on #108
Hey folks,
this is something useful for us. We are currently doing it manually, we will be happy to see it in the future :)
Thanks a lot @mrozycki-tink  for the suggestion!

[2022-01-24 19:05] chrusty commented on #109
No it's OK i can handle that

[2022-01-24 20:51] jcchavezs commented on #108
I am giving a second thought on what I wrote yesterday. I think the reference use case:

[code]

**Is very arbitrary.** None of the examples I posted (of widely used proto files) are following this pattern. Implementing the first detached line approach we would end up with titles like:

- [`Wrapper message for int64.`](https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/wra

[2022-01-24 21:03] chrusty commented on #108
So how about my idea of using the _detached_ comments? Support for this is built into the proto ecosystem, it just makes sense to me.

I'm disinclined to introduce support for something like `[#protodoc-title: Bootstrap]` at this stage if we can do what we want with a simple solution which is already supported by the libraries in use.

[2022-01-24 21:05] jcchavezs commented on #108
Do you have any link about this? I am curious.

@chrusty I think the idea of detached comments made sense to me at the beginning but I can't find a single proto out there that would produce a correct output (as pointed out before).

[2022-01-24 21:15] chrusty commented on #108
@jcchavezs let me clarify:

Detached comment is two comments separated by an empty line:

[code]

This is natively supported by the protobuf libraries, and doesn't cause any drama for existing behaviour.

[2022-01-24 21:23] chrusty commented on #108
https://github.com/protocolbuffers/protobuf-go/blob/master/types/descriptorpb/descriptor.pb.go#L2817

[2022-01-24 21:24] chrusty commented on #108
I'm not that worried about _existing_ protos generating a Title, more interested in allowing people to write their protos in such a way that they can get titles to generate if they want them to.

[2022-01-24 23:22] jcchavezs commented on #108
I think after reading the documentation of the detached code and what I said before I am still inclined to say titles should come from the root message name instead of coming up with a new convention that will only be used in here. In my use case I want to generate a jsonschema out of existing proto (specifically envoy). I don't see they accepting I change the format of the comment in the proto to

[2022-01-24 23:45] chrusty commented on #108
OK how about this:
- Title becomes the detached leading comment if it exists
- Otherwise Title is derived from the message name (in the way you've described) if it doesn't exist

Sound reasonable?

[2022-01-25 19:37] chrusty commented on #108
@jcchavezs and @mrozycki-tink, I've merged this PR into the master branch now. Would you guys be able to have a go and let me know if this works for you?

[2022-01-25 20:03] jcchavezs commented on #108
Thanks I think the message name approach would fix the problem for both of
us. Not sure if the detached comment was still needed. In any case I will
give it a try today.

On Tue, Jan 25, 2022, 20:38 Prawn ***@***.***> wrote:

[2022-01-27 15:44] yudintsevegor commented on #108
Hey! @chrusty

I see that you merged the PR, thank you so much!

1) Are you going to update versions in releases?
2) I want to point out that there is an "unexpected" behavior for the `description` field:
proto:
[code]

jsonschema:
[code]

it also takes detached comments to the description.

[2022-01-27 19:26] chrusty commented on #108
Hi @yudintsevegor, thanks for your interest. The behaviour you've pointed out isn't entirely "unexpected" to me... this is the existing default behaviour, and I'd like to avoid changing that. There may be people out there who are only interested in the "description" field and would expect to see _all_ comments in there.

[2022-01-28 10:14] yudintsevegor commented on #108
Thank you so much! get it!

[2022-01-28 10:36] amarkevich opened #111 "proto3: 'package' is optional"
Actual: `level=warning msg="Proto file doesn't specify a package" filename=common.proto`
Expected: process files without [package](https://developers.google.com/protocol-buffers/docs/proto3#packages) specifier

[2022-02-01 00:14] chrusty commented on #109
Hi @jcchavezs, I just merged a fix for this: https://github.com/chrusty/protoc-gen-jsonschema/pull/113

I'll make a release soon

[2022-02-01 00:14] #109 closed

[2022-02-01 00:35] chrusty commented on #109
I've made this change, merged it, and included in a new release: https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.3.6

Thanks again for your interest in the project!

[2022-02-01 00:35] chrusty commented on #111
I've made this change, merged it, and included in a new release: https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.3.6

Thanks again for your interest in the project!

[2022-02-01 00:35] #111 closed

[2022-02-01 00:35] chrusty commented on #108
I've made this change, merged it, and included in a new release: https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.3.6

Thanks again for your interest in the project!

[2022-02-01 00:35] #108 closed

[2022-02-01 00:35] chrusty commented on #107
This seems to have gone away, probably with some resettling of protobuf versions.

[2022-02-01 00:35] #107 closed

[2022-02-04 07:00] christiaanpauw opened #115 "go get is deprecated: update Readme to use go install"
uninstalling with :
GO111MODULE=on \
go get github.com/chrusty/protoc-gen-jsonschema/cmd/protoc-gen-jsonschema &&
go install github.com/chrusty/protoc-gen-jsonschema/cmd/protoc-gen-jsonschema

as advised results in:

go get: installing executables with 'go get' in module mode is deprecated.
	Use 'go install pkg@version' instead.
	For more information, see https://golang.org/doc/go-get-install-depr

[2022-02-06 19:44] chrusty commented on #115
Hi @christiaanpauw, thanks for raising this. About time it was updated!

I've pushed a commit which addresses this: https://github.com/chrusty/protoc-gen-jsonschema/commit/7587d72b5b0f5ae99a696e33e5ee31a32f5f875c - this will be included in the next released version.

Thanks for your interest in the project!

[2022-02-06 19:44] #115 closed

[2022-04-16 19:07] parsnips commented on #100
Hey @chrusty - https://github.com/pnwcode/protoc-gen-jsonschema/commit/86b60afd2c7d3db39b20125c5602650369d27a49 gets a compiling version of this.  As the commit says, the tests are of course broken...but i needed schema 07 and this got me close enough.

[2022-04-17 20:24] chrusty commented on #100
Hey @parsnips, the invopop fork looks like the right choice - almost a drop-in replacement!

I can pick this up at some point, get it fully integrated and make sure the tests pass. Should we be concerned about any other schema-07 features that need to be brought along?

[2022-04-22 16:38] franchb commented on #100
[jsonschema](https://github.com/alecthomas/jsonschema) by [@alecthomas](https://github.com/alecthomas) was discontinued. Maintenance has moved to [invopop/jsonschema](https://github.com/invopop/jsonschema).

[2022-06-07 21:55] dbedari-indeed opened #119 "Bug when disallowing bigints and allowing null values."
When using `disallow_bigints_as_strings` and `allow_null_values`, one ends up getting a schema as such:
[code]
While both work perfectly separately, combining them seems to give us a logical error.

[2022-06-22 01:03] chrusty commented on #119
Hi @dbedari-indeed, thanks for raising this. I'll take a look over the next day or two and see what I can come up with.

My apologies for the delay in responding.

[2022-06-22 17:27] dbedari-indeed commented on #119
No problem at all. I really appreciate you taking a look at this!

[2022-06-25 03:54] chrusty commented on #119
Hi @dbedari-indeed. I've made a fix for this, and merged it into the `master` branch. Would you be able to give this a go, and tell me if it does what you want now?

Once you're happy with that I'll tag a new release.

[2022-06-27 22:12] #102 closed

[2022-06-28 19:17] dbedari-indeed commented on #119
Thank you so much @chrusty; confirmed the fix works. Appreciate your patch, and thank you for the awesome tool!

[2022-06-28 19:50] chrusty commented on #119
I've made a [new release](https://github.com/chrusty/protoc-gen-jsonschema/releases/tag/1.3.8) which contains this fix now.

Thanks again.

[2022-06-28 19:50] #119 closed

[2022-08-01 20:51] raj-karthik opened #122 "Jsonschema discrepancies between OSX and docker builds"
**codegen.dockerfile**
[code]

**install_protobuf.sh**
[code]

**install_protobuf_plugins.sh**
[code]

**example_event.proto**
[code]

**OSX** (same version of protoc)
[code]
**ExampleEvent.jsonschema**
[code]

**Docker Image**
**ExampleEvent.json**
[code]

[2022-09-05 02:43] aurc opened #123 "Option to ignore deprecated proto fields"
Hello,

Nice lib! Is there any plans to add an option to ignore deprecated fields on generation, e.g.:
[code]

An option like `ignore-deprecated` would be very useful !

[2022-09-16 10:41] seinshah opened #124 "Reference to an enum in an ignored file"
I have a package with two files where in file B, I refer to file A's enum type. I have added `option (protoc.gen.jsonschema.file_options).ignore = true;` to file A. E.g.

`A.proto`
[code]

`B.proto`
[code]

**Expected Behavior**
I expect that plugin access the enum in the other file regardless of the file option in that file as it has been referred to in file B.

**Actual Behavior**
When trying to

[2022-09-29 01:18] yashdesai7 opened #125 "How do I generate json schema for grpc service proto ?"
I would like to use this to generate json schema for service proto which looks like below

[code]

How do I do that ?

I tried generating schema but It only generated schema for  `ClientMessage` and `ServiceMessage` but not for `GetSomeThingService`

[2022-10-02 20:58] chrusty commented on #125
Hi @yashdesai7, interesting question here. I'm sorry to say that this project was only ever aiming to generate schemas for the payloads themselves. I'm not even sure that JSONSchema would make much sense of an RPC definition! Have a look at [this link here](https://stackoverflow.com/questions/54164062/json-rpc-schema-specification) - these guys are discussing this very issue.

I know this is not t

[2022-10-02 20:58] #125 closed

[2022-10-02 22:12] chrusty commented on #123
Hello @aurc, funny you should bring this topic up. Back when I was implementing the facility to _ignore_ fields I originally considered using the `deprecated=true` flag to mark ignored fields. This was mainly because I was being lazy, was trying to avoid implementing my own proto options.

In the end I DID implement my own proto options however, and they're working quite nicely. Does your situatio

[2022-10-13 18:16] ramimanna1 opened #126 "JSONSchema generated is ambiguous when there are multiple oneof fields in the same protobuf message"
With the `enforce_oneof` option enabled, the JSONSchema generated does not disambiguate between multiple oneofs in the same message vs. a single oneof in a message.

That is, the following two protos result in the same JSONSchema.

1. Two oneof fields in the same message:
[code]
2. A single oneof with the same fields as the 2 oneofs in case (1):
[code]

**Actual Behavior**
In both cases, the `oneO

[2022-10-21 20:04] chrusty commented on #122
Hi @raj-karthik, sorry it has taken so long to get to this.

As long as the CLI options are the same, then I'm fairly sure that a difference in the generated schema like this can only really come about due to having a different set of tools and dependencies.

- `protoc` and its associated cruft: `protoc --version` will tell you specifically what is happening here
- `protoc-gen-jsonschema` itself (

[2022-10-21 20:20] chrusty commented on #124
Hello @seinshah. I'm sorry, but the "ignore file" option is very basic - if the plugin encounters that then it simply moves on with the next file (which is kind of the point).

I think your options here look like this:

- remove the ignore option from file A OR
- move the enum declaration to a new `C.proto` and include that OR
- instead of using the ignore _file_ option you could use the ignore _m

[2022-10-21 20:21] chrusty opened #128 "Add an "ignore enum" option"
This may help people to appropriately filter thier protos without having to cut them up into several files.

[2022-10-21 20:42] #128 closed

[2022-10-21 20:43] chrusty commented on #124
@seinshah I've added an option to ignore specific enums now. This is not yet released, but in the `master` branch. Please let me know if this solves your problem

[2022-10-22 20:06] chrusty opened #130 "Look at using GoReleaser to manage versioned releases and packaging"

[2022-11-18 01:03] sghosh-discovery opened #132 "Allow passing of "id" during the schema generation"
Hi,

It appears that we can't pass an "id" field. This is useful for JSON schema versioning. We should be able to pass a remote ID.

Thanks.